<ng-container *ngIf="loaded; else loading">
  <div class="flex flex-column md:flex-row justify-content-center align-items-center">
    <div class="flex flex-column">
      <span class="flex flex-row justify-content-end" *ngFor="let category of dish.Categories">
        <i class="pi pi-tag"></i>
        <span class="ml-2 font-semibold">{{ category.Name | titlecase }}</span>
      </span>

      <img src="/assets/dishes/generic.png" alt="{{ dish.Name | titlecase }}" class="max-w-full">
    </div>
    <div class="md:ml-5">
      <h1>{{ dish.Name }}</h1>

      <section class="flex flex-row align-content-top">
        <div class="mr-5">
          <h3 class="m-0 bg-primary-reverse" i18n>Price</h3>
          <div class="bg-primary-reverse font-bold">{{ dish.Cost | currency }}</div>
        </div>
        <p-button *ngIf="loaded" icon="pi pi-cart-plus" (click)="addCart()" i18n-label label="Add to Cart"></p-button>
      </section>

      <section>
        <h2 class="bg-primary-reverse">{{ dish.Name }}</h2>
        <div class="border-left-2 border-primary-500 p-3">{{ dish.Description }}</div>
      </section>

      <section>
        <h2 class="mb-1 bg-primary-reverse" i18n>Ingredients</h2>
        <ng-container *ngFor="let item of dish.Ingredients">
          <p-badge severity="info" value="{{ item.Name }}" styleClass="mr-1"></p-badge>
        </ng-container>
      </section>

      <section>
        <h2 class="mb-1 bg-primary-reverse" i18n>Allergens</h2>
        <ng-container *ngFor="let item of dish.Allergens">
          <p-badge severity="warning" value="{{ item.Name }}" styleClass="mr-1"></p-badge>
        </ng-container>
      </section>

      <section class="flex flex-column">
        <h2 class="mb-1 bg-primary-reverse" i18n>Rating</h2>
        <div class="flex flex-row align-items-center">
          <dish-rating [rating]="dish.Likes | rating: dish.Dislikes"></dish-rating>
          <span *ngIf="authenticated" class="ml-3">
            <p-button [rounded]="true" severity="primary" icon="pi pi-thumbs-up" severity="secondary" i18n-aria-label
              aria-label="I like this" i18n-pTooltip pTooltip="I like this" tooltipPosition="bottom" (click)="like()"
              [disabled]="liked" styleClass="mr-2">
            </p-button>
            <p-button [rounded]="true" severity="accent" icon="pi pi-thumbs-down" severity="secondary" i18n-aria-label
              aria-label="I don't like this" i18n-pTooltip pTooltip="I don't like this" tooltipPosition="bottom"
              (click)="dislike()" [disabled]="disliked">
            </p-button>
          </span>
        </div>
      </section>
    </div>
  </div>

</ng-container>

<ng-template #loading>
  <div class="tfm-dish-container">
    <!-- Image -->
    <p-skeleton width="10rem" height="4rem"></p-skeleton>
    <div class="tfm-dish-details">
      <!-- Name -->
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>

      <section>
        <!-- Price -->
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <!-- Add button -->
        <p-skeleton width="8rem" height="2rem" styleClass="mr-2"></p-skeleton>
      </section>

      <!-- Description -->
      <p-skeleton styleClass="mb-2"></p-skeleton>
      <p-skeleton styleClass="mb-2"></p-skeleton>
      <p-skeleton styleClass="mb-2"></p-skeleton>

      <section style="display: grid; grid-template-columns: repeat(2, 5rem);">
        <!-- Ingredients -->
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
      </section>

      <section style="display: grid; grid-template-columns: repeat(2, 5rem);">
        <!-- Allergens -->
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
      </section>

      <section style="display: grid; grid-template-columns: repeat(7, 2rem);">
        <!-- Rating -->
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton size="2rem" styleClass="mr-2"></p-skeleton>
      </section>
    </div>
  </div>
</ng-template>