<ng-container *ngIf="loaded; else loading">
  <div class="tfm-dish-container">
    <div class="tfm-dish-image">
    </div>
    <div class="tfm-dish-details">
      <h1>{{ dish.Name }}</h1>

      <section>
        <h3 i18n>Price</h3>
        <div>{{ dish.Cost | currency }}</div>

        <p-button *ngIf="loaded" icon="pi pi-cart-plus" (click)="addCart()" i18n-label label="Add to Cart"></p-button>
      </section>

      <section>
        <h2>{{ dish.Name }}</h2>
        <div>{{ dish.Description }}</div>
      </section>

      <section class="tfm-list-badges">
        <h2 i18n>Ingredients</h2>
        <ng-container *ngFor="let item of dish.Ingredients">
          <p-badge severity="info" value="{{ item.Name }}"></p-badge>
        </ng-container>
      </section>

      <section class="tfm-list-badges">
        <h2 i18n>Allergens</h2>
        <ng-container *ngFor="let item of dish.Allergens">
          <p-badge severity="warning" value="{{ item.Name }}"></p-badge>
        </ng-container>
      </section>

      <section class="tfm-rating">
        <h2 i18n>Rating</h2>
        <dish-rating [rating]="dish.Likes | rating: dish.Dislikes"></dish-rating>
        <span *ngIf="authenticated">
          <p-button [rounded]="true" severity="primary" icon="pi pi-thumbs-up" severity="secondary" i18n-aria-label
            aria-label="I like this" i18n-pTooltip pTooltip="I like this" tooltipPosition="bottom" (click)="like()">
          </p-button>
          <p-button [rounded]="true" severity="accent" icon="pi pi-thumbs-down" severity="secondary" i18n-aria-label
            aria-label="I don't like this" i18n-pTooltip pTooltip="I don't like this" tooltipPosition="bottom"
            (click)="dislike()">
          </p-button>
        </span>
      </section>
    </div>
  </div>

</ng-container>

<ng-template #loading>
  <div class="tfm-dish-container">
    <!-- Image -->
    <p-skeleton width="10rem" height="4rem"></p-skeleton>
    <div class="tfm-dish-details">
      <!-- Name -->
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>

      <section>
        <!-- Price -->
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <!-- Add button -->
        <p-skeleton width="8rem" height="2rem" styleClass="mr-2"></p-skeleton>
      </section>

      <!-- Description -->
      <p-skeleton styleClass="mb-2"></p-skeleton>
      <p-skeleton styleClass="mb-2"></p-skeleton>
      <p-skeleton styleClass="mb-2"></p-skeleton>

      <section style="display: grid; grid-template-columns: repeat(2, 5rem);">
        <!-- Ingredients -->
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
      </section>

      <section style="display: grid; grid-template-columns: repeat(2, 5rem);">
        <!-- Allergens -->
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
      </section>

      <section style="display: grid; grid-template-columns: repeat(7, 2rem);">
        <!-- Rating -->
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton size="2rem" styleClass="mr-2"></p-skeleton>
        <p-skeleton size="2rem" styleClass="mr-2"></p-skeleton>
      </section>
    </div>
  </div>
</ng-template>