<div style="display: grid; grid-template-columns: auto auto auto;">
  <div style="height: 300px; width: 300px; background-color: blueviolet;">
    <ngx-skeleton-loader *ngIf="!loaded" count="1" appearance="circle"
      [theme]="{height: '300px', width: '300px'}"></ngx-skeleton-loader>
  </div>
  <div style="display: grid; grid-template-columns: auto;">
    <h1>{{ dish.Name }}</h1>
    <ngx-skeleton-loader *ngIf="!loaded" count="1" appearance="line"></ngx-skeleton-loader>
    <div>{{ dish.Description }}</div>
    <ngx-skeleton-loader *ngIf="!loaded" count="3" appearance="line"></ngx-skeleton-loader>

    <section>
      <h2 i18n>Ingredients</h2>
      <mat-chip-set class="ingredients">
        <mat-chip class="ingredient" *ngFor="let ingredient of dish.Ingredients">{{ ingredient.Name }}</mat-chip>
      </mat-chip-set>
      <ngx-skeleton-loader *ngIf="!loaded" count="1" appearance="line"></ngx-skeleton-loader>
    </section>

    <section>
      <h2 i18n>Allergens</h2>
      <mat-chip-set class="allergens">
        <mat-chip class="allergen" *ngFor="let allergen of dish.Allergens">{{ allergen.Name }}</mat-chip>
      </mat-chip-set>
      <ngx-skeleton-loader *ngIf="!loaded" count="1" appearance="line"></ngx-skeleton-loader>
    </section>

    <section>
      <h2 i18n>Reviews</h2>
      <ngx-skeleton-loader *ngIf="!loaded" count="5" appearance="circle"></ngx-skeleton-loader>
      <span *ngIf="loaded">
        <span *ngFor="let color of rating">
          <mat-icon color="{{ color }}">star</mat-icon>
        </span>
        <span *ngIf="authenticated">
          <button mat-mini-fab color="primary" aria-label="I like this" (click)="like()">
            <mat-icon>thumb_up</mat-icon>
          </button>
          <button mat-mini-fab color="accent" aria-label="I don't like this" (click)="dislike()">
            <mat-icon>thumb_down</mat-icon>
          </button>
        </span>
      </span>
    </section>
  </div>

  <div>
    <section>
      <h3 i18n>Price</h3>
      <ngx-skeleton-loader *ngIf="!loaded" count="1" appearance="line"></ngx-skeleton-loader>
      <div *ngIf="loaded">{{ dish.Cost }}</div>
    </section>

    <ngx-skeleton-loader *ngIf="!loaded" count="1" appearance="circle" [theme]="{width: '150px'}"></ngx-skeleton-loader>
    <button *ngIf="loaded" mat-raised-button color="primary" (click)="addCart()">
      <mat-icon>add_shopping_cart</mat-icon>
      <span i18n>Add to Cart</span>
    </button>
  </div>
</div>