<div class="tfm-main-page">

  <h1 i18n>Payment</h1>

  <ng-container *ngIf="cart.Lines.length > 0; else empty_cart">
    <div class="flex flex-column md:flex-row">

      <!-- Payment Info -->
      <div class="mx-1 md:mx-5 md:w-full">
        <p-tabView>
          <p-tabPanel i18n-header header="Credit Card">
            <form>
              <div class="p-float-label">
                <input pInputText id="cc_name" [(ngModel)]="ccName" [ngModelOptions]="{standalone: true}" required
                  maxlength="250" />
                <label for="cc_name" i18n>Name</label>
              </div>
              <div class="p-float-label">
                <p-inputMask id="cc_number" [(ngModel)]="ccNumber" [ngModelOptions]="{standalone: true}"
                  mask="9999 9999 9999 9?999" placeholder="9999 9999 9999 9999"></p-inputMask>
                <label for="cc_number" i18n>Number</label>
              </div>
              <div class="p-float-label">
                <p-inputMask id="cc_expiration" [(ngModel)]="ccExpiration" [ngModelOptions]="{standalone: true}"
                  mask="99/99" placeholder="99/99" slotChar="mm/yy"></p-inputMask>
                <label for="cc_expiration" i18n>Expiration Date</label>
              </div>
              <div class="p-float-label">
                <p-inputMask id="cc_ccv" [(ngModel)]="ccCcv" [ngModelOptions]="{standalone: true}" mask="999"
                  placeholder="999"></p-inputMask>
                <label for="cc_ccv" i18n>CCV</label>
              </div>

              <!-- We cannot use form-actions, we need (this) object -->
              <p-divider></p-divider>
              <div class="tfm-actions">
                <p-button icon="pi pi-arrow-left" [raised]="true" severity="danger" i18n-label label="Go back to Cart"
                  (click)="goCart()" styleClass="tfm-actions-secondary"></p-button>
                <p-button icon="pi pi-shopping-cart" [raised]="true" (click)="purchase('card')" i18n-label
                  label="Complete Purchase" styleClass="tfm-actions-primary"
                  [disabled]="ccCcv.length === 0 || ccExpiration.length === 0 || ccNumber.length === 0 || ccName.length === 0"></p-button>
              </div>

            </form>
          </p-tabPanel>
          <p-tabPanel i18n-header header="Paypal">
            <p-message severity="info" i18n-text text="You will be redirected to Paypal during payment"></p-message>

            <p-divider></p-divider>
            <div class="tfm-actions">
              <p-button icon="pi pi-arrow-left" [raised]="true" severity="danger" i18n-label label="Go back to Cart"
                (click)="goCart()" styleClass="tfm-actions-secondary"></p-button>
              <p-button icon="pi pi-shopping-cart" [raised]="true" (click)="purchase('paypal')" i18n-label
                label="Complete Purchase" styleClass="tfm-actions-primary"></p-button>
            </div>
          </p-tabPanel>
          <p-tabPanel i18n-header header="Salary Reduction">
            <p-message severity="info" i18n-text
              text="Your company Human Resources team will deduct the cost from your next salary payment"></p-message>

            <p-divider></p-divider>
            <div class="tfm-actions">
              <p-button icon="pi pi-arrow-left" [raised]="true" severity="danger" i18n-label label="Go back to Cart"
                (click)="goCart()" styleClass="tfm-actions-secondary"></p-button>
              <p-button icon="pi pi-shopping-cart" [raised]="true" (click)="purchase('salary reduction')" i18n-label
                label="Complete Purchase" styleClass="tfm-actions-primary"></p-button>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>

      <!-- horizontal divider for mobiles -->
      <p-divider class="md:hidden"></p-divider>
      <!-- vertical divider for tablets -->
      <p-divider layout="vertical" class="hidden md:block"></p-divider>

      <!-- Cart Content -->
      <div class="mx-1 md:mx-5 md:w-full">
        <p-table [value]="cart.Lines" [tableStyle]="{ 'min-width': '90%' }">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" i18n>Dish</th>
              <th scope="col" class="text-right" i18n>Quantity</th>
              <th scope="col" class="text-right" i18n>Total Cost</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-line>
            <tr>
              <td>{{ line.Name }}</td>
              <td class="text-right">{{ line.Quantity }}</td>
              <td class="text-right">{{ line.CostUnit * line.Quantity | currency }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td i18n>Subvention</td>
              <td colspan="2" class="text-right">{{ subvention | currency }}</td>
            </tr>
            <tr>
              <td i18n>Total</td>
              <td colspan="2" class="text-right">{{ cart | total: subvention | currency }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </ng-container>

  <ng-template #empty_cart>
    <p i18n>Your shopping cart is empty, why not add some delicious dishes to it?</p>
  </ng-template>

</div>