<div class="col flex px-3 flex-column mt-4 md:mt-0">
  <div class="relative">
    <img src="/assets/dishes/generic.png" alt="product" class="w-full h-full cursor-pointer"
      [routerLink]="['dishes', 'dish', dish.ID]">
    <p-button icon=" pi pi-cart-plus" [rounded]="true" [raised]="true" severity="help" styleClass="absolute right-0"
      (click)="addCart()"></p-button>
  </div>
  <p class="text-600 font-medium my-3">{{ dish | currentPrice | currency }}</p>
  <a class="text-xl cursor-pointer text-900 flex align-items-center hover:text-primary transition-duration-150 no-underline"
    [routerLink]="['dishes', 'dish', dish.ID]">
    <span>{{ dish.Name | titlecase }}</span>
    <i class="pi pi-fw pi-arrow-right ml-2 text-xl"></i>
  </a>
</div>