<div [formGroup]="createForm" class="mt-2">
  <div>
    <span class="p-float-label">
      <input id="name" pInputText [formControl]="name" type="text" i18n-placeholder placeholder="Ingredient Name"
        i18n-aria-label aria-label="Ingredient Name" required maxlength="250">
      <label for="name" i18n>Ingredient Name</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="name.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="name.errors?.['maxlength']">The value is too long</div>
  </div>
</div>

<p-divider></p-divider>
<div class="tfm-actions">
  <p-button icon="pi pi-times" severity="danger" (click)="cancel()" i18n-label label="Cancel"
    styleClass="tfm-actions-secondary"></p-button>
  <p-button icon="pi pi-check" [disabled]="!createForm.valid" (click)="create()" i18n-label label="Create Ingredient"
    styleClass="tfm-actions-primary"></p-button>
</div>