<div class="tfm-main-page">
  <p-card styleClass="mt-2 bg-primary-100" header="{{ applicationTitle }}" i18n-subheader subheader="Created by">
    <ng-template pTemplate="header">
      <img class="mt-5 max-w-10rem" alt="Logo {{ applicationTitle }}" src="assets/logo_2.png" />
    </ng-template>
    <h1>Francisco Miguel Biete Ba&ntilde;&oacute;n</h1>
    <ng-template pTemplate="footer">
      <ul class="list-none p-0">
        <li>
          <a href="https://www.uoc.edu/es/estudios/masters/master-universitario-desarrollo-sitios-aplicaciones-web"
            target="_blank" rel="noopener noreferrer" i18n>Master's Degree in Website and Web Application
            Development</a>
        </li>
        <li class="mt-2">
          <a href="https://www.uoc.ed" target="_blank" rel="noopener noreferrer">Universitat Oberta de
            Catalunya</a>
        </li>
        <li class="mt-2">
          <span i18n>Master's Degree Final Project</span>
        </li>
      </ul>
    </ng-template>
  </p-card>

  <section class="m-2 md:m-5 text-justify">
    <h2 i18n>Abstract</h2>
    <p i18n>This project presents a food delivery web application oriented to offer a catering service to companies and
      their employees. Unlike other food delivery platforms, its orientation will be the delivery of food in the office,
      grouping all the orders of employees. This platform would provide any company with the ability to offer an "a la
      carte" food service with delivery, in addition to significant financial savings and staff retention.</p>
    <p i18n>The application uses a Progressive Web Application (PWA) architecture based on the Angular platform, using
      recent versions of CSS and HTML, and REST API services for data encapsulation.</p>
    <p i18n>For its development we will apply the methodologies acquired in this master and agile methods, such as
      Kanban boards for the management of tasks and their lifecycle. The Mobile First method will allow us to obtain a
      product correctly adapted to mobile devices.</p>
    <p i18n>Finally, an analysis of the results obtained, compared to the initial objectives, and an estimation of
      future opportunities.</p>
  </section>
</div>