<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button [rounded]="true" [text]="true" icon="pi pi-bars" i18n-aria-label aria-label="Application Menu">
    </p-button>
    <a routerLink="/">
      <img class="logo" src="assets/logo.png" alt="Link to {{ applicationTitle }} homepage">
      <span class="tfm-assistive-text">Link to {{ applicationTitle }} homepage</span>
    </a>
    <h1>{{ applicationTitle }}</h1>
  </div>


  <div class="p-toolbar-group-end">
    <p-button [rounded]="true" [text]="true" [raised]="true" i18n-aria-label aria-label="Search Dish" i18n-pTooltip
      pTooltip="Search Dish" tooltipPosition="bottom" icon="pi pi-search">
    </p-button>

    <cart-menu></cart-menu>

    <users-menu></users-menu>
  </div>
</p-toolbar>