<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button size="small" [rounded]="true" [text]="true" icon="pi pi-bars" i18n-aria-label
      aria-label="Application Menu">
    </p-button>
    <a routerLink="/">
      <img class="max-w-5rem md:max-w-8rem" src="assets/logo.png" alt="Link to {{ applicationTitle }} homepage">
      <span class="tfm-assistive-text">Link to {{ applicationTitle }} homepage</span>
    </a>
    <h1 class="hidden md:inline-block">{{ applicationTitle }}</h1>
  </div>


  <div class="p-toolbar-group-end">
    <p-button size="small" [rounded]="true" [text]="true" [raised]="true" i18n-aria-label aria-label="Search Dish"
      i18n-pTooltip pTooltip="Search Dish" tooltipPosition="bottom" icon="pi pi-search" class="mr-1 md:mr-2">
    </p-button>

    <cart-menu></cart-menu>

    <users-menu></users-menu>
  </div>
</p-toolbar>