<h1>{{ applicationTitle }}</h1>

<section>
  <h2 i18n>Author</h2>
  <p>Francisco Miguel Biete Ba&ntilde;&oacute;n</p>
</section>

<section>
  <h2 i18n><a href="https://www.uoc.edu/es/estudios/masters/master-universitario-desarrollo-sitios-aplicaciones-web"
      target="_blank" rel="noopener noreferrer">Master's Degree in Website and Web Application Development</a></h2>
  <h3><a href="https://www.uoc.ed" target="_blank" rel="noopener noreferrer">Universitat Oberta de Catalunya</a></h3>
  <p i18n>Master's Degree Final Project</p>
</section>

<section>
  <h2 i18n>Abstract</h2>
  <p i18n></p>
</section>