<div class="tfm-dialog-content">
  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="email" pInputText [formControl]="email" type="email" i18n-placeholder placeholder="user1@tfm.es"
        i18n-aria-label aria-label="email" required maxlength="100">
      <label for="email" i18n>Email</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="email.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="email.errors?.['pattern']">The value is not a valid email address</div>
    <div class="tfm-input-error" i18n *ngIf="email.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label p-input-icon-right">
      <i class="pi {{ hide ? 'pi-eye-slash' : 'pi-eye' }}" (click)="hide = !hide"></i>
      <input id="password" pInputText [type]="hide ? 'password' : 'text'" [formControl]="password" i18n-aria-label
        aria-label="Password" required maxlength="64">
      <label for="password" i18n>Password</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="password.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="password.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label p-input-icon-right">
      <i class="pi {{ hide ? 'pi-eye-slash' : 'pi-eye' }}" (click)="hide = !hide"></i>
      <input id="password2" pInputText [type]="hide ? 'password' : 'text'" [formControl]="password2" i18n-aria-label
        aria-label="Confirm Password" required maxlength="64">
      <label for="password2" i18n>Confirm Password</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="password2.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="password2.errors?.['maxlength']">The value is too long</div>
    <div class="tfm-input-error" i18n *ngIf="password2.errors?.['matchValidator']">The password values don't match</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="name" pInputText i18n-placeholder placeholder="John" [formControl]="name" type="text" i18n-aria-label
        aria-label="Name" required maxlength="250">
      <label for="name" i18n>Name</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="name.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="name.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="surname" pInputText i18n-placeholder placeholder="Doe" [formControl]="surname" type="text"
        i18n-aria-label aria-label="Surname" required maxlength="250">
      <label for="surname" i18n>Surname</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="surname.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="surname.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="address1" pInputText i18n-placeholder placeholder="Address Line 1" [formControl]="address1" type="text"
        i18n-aria-label aria-label="Address Line 1" required maxlength="250">
      <label for="address1" i18n>Address Line 1</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="address1.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="address1.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="address2" pInputText i18n-placeholder placeholder="Address Line 2" [formControl]="address2" type="text"
        i18n-aria-label aria-label="Address Line 2" maxlength="250">
      <label for="address2" i18n>Address Line 2</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="address2.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="address3" pInputText i18n-placeholder placeholder="Address Line 3" [formControl]="address3" type="text"
        i18n-aria-label aria-label="Address Line 3" maxlength="250">
      <label for="address3" i18n>Address Line 3</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="address3.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="city" pInputText i18n-placeholder placeholder="City" [formControl]="city" type="text" i18n-aria-label
        aria-label="City" required maxlength="250">
      <label for="city" i18n>City</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="city.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="city.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="postal_code" pInputText i18n-placeholder placeholder="Postal Code" [formControl]="postal_code"
        type="text" i18n-aria-label aria-label="Postal Code" required maxlength="10">
      <label for="postal_code" i18n>Postal Code</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="postal_code.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="postal_code.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="registerForm">
    <span class="p-float-label">
      <input id="phone" pInputText i18n-placeholder placeholder="Phone Number" [formControl]="phone" type="text"
        i18n-aria-label aria-label="Phone Number" required maxlength="20">
      <label for="phone" i18n>Phone Number</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="phone.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="phone.errors?.['maxlength']">The value is too long</div>
  </div>
</div>

<div class="tfm-dialog-footer">
  <p-button icon="pi pi-times" severity="danger" (click)="close()" i18n-label label="Cancel"></p-button>
  <p-button icon="pi pi-check" [disabled]="!registerForm.valid" (click)="register()" i18n-label
    label="Register"></p-button>
</div>