<div class="tfm-main-page">
  <h1 i18n>Delivery Address</h1>
  <form [formGroup]="addressForm" class="m-auto w-11 md:w-10">
    <div>
      <span class="p-float-label">
        <input id="address1" pInputText i18n-placeholder placeholder="Address Line 1" [formControl]="address1"
          type="text" i18n-aria-label aria-label="Address Line 1" required maxlength="250">
        <label for="address1" i18n>Address Line 1</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="address1.errors?.['required']">You must enter a value</div>
      <div class="tfm-input-error" i18n *ngIf="address1.errors?.['maxlength']">The value is too long</div>
    </div>

    <div>
      <span class="p-float-label">
        <input id="address2" pInputText i18n-placeholder placeholder="Address Line 2" [formControl]="address2"
          type="text" i18n-aria-label aria-label="Address Line 2" maxlength="250">
        <label for="address2" i18n>Address Line 2</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="address2.errors?.['maxlength']">The value is too long</div>
    </div>

    <div>
      <span class="p-float-label">
        <input id="address3" pInputText i18n-placeholder placeholder="Address Line 3" [formControl]="address3"
          type="text" i18n-aria-label aria-label="Address Line 3" maxlength="250">
        <label for="address3" i18n>Address Line 3</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="address3.errors?.['maxlength']">The value is too long</div>
    </div>

    <div>
      <span class="p-float-label">
        <input id="city" pInputText i18n-placeholder placeholder="City" [formControl]="city" type="text" i18n-aria-label
          aria-label="City" required maxlength="250">
        <label for="city" i18n>City</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="city.errors?.['required']">You must enter a value</div>
      <div class="tfm-input-error" i18n *ngIf="city.errors?.['maxlength']">The value is too long</div>
    </div>

    <div>
      <span class="p-float-label">
        <input id="postal_code" pInputText i18n-placeholder placeholder="Postal Code" [formControl]="postalCode"
          type="text" i18n-aria-label aria-label="Postal Code" required maxlength="10">
        <label for="postal_code" i18n>Postal Code</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="postalCode.errors?.['required']">You must enter a value</div>
      <div class="tfm-input-error" i18n *ngIf="postalCode.errors?.['maxlength']">The value is too long</div>
    </div>

    <div>
      <span class="p-float-label">
        <input id="phone" pInputText i18n-placeholder placeholder="Phone Number" [formControl]="phone" type="text"
          i18n-aria-label aria-label="Phone Number" required maxlength="20">
        <label for="phone" i18n>Phone Number</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="phone.errors?.['required']">You must enter a value</div>
      <div class="tfm-input-error" i18n *ngIf="phone.errors?.['maxlength']">The value is too long</div>
    </div>

    <div class="mt-2 text-right">
      <p-checkbox [(ngModel)]="saveAsDefault" [ngModelOptions]="{standalone: true}" [binary]="true" i18n-label
        label="Save this address as my default"></p-checkbox>
    </div>

    <p-divider></p-divider>
    <div class="tfm-actions">
      <p-button icon="pi pi-arrow-left" severity="danger" i18n-label label="Go back to Cart" (click)="goCart()"
        styleClass="tfm-actions-secondary"></p-button>
      <p-button icon="pi pi-shopping-cart" type="submit" [disabled]="!addressForm.valid" (click)="goPayment()"
        i18n-label label="Proceed to Payment" styleClass="tfm-actions-primary"></p-button>
    </div>
  </form>

</div>