<!-- Shopping Cart -->
<ng-container *ngIf="cart$ | async as cart; else empty_cart">
  <ng-container *ngIf="cart.Lines.length > 0; else empty_cart">
    <p-button id="tfm-cart-button" [rounded]="true" [text]="true" [raised]="true" i18n-aria-label
      aria-label="Shopping Cart" i18n-pTooltip pTooltip="Shopping Cart" tooltipPosition="bottom"
      icon="pi pi-shopping-cart" badge="{{ cart | countCartProducts }}" badgeClass="p-badge-danger"></p-button>
    <div id="tfm-cart">
      <table>
        <caption i18n style="display: none;">Shopping Cart Content</caption>
        <thead>
          <th i18n>Dish</th>
          <th i18n>Quantity</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let line of cart.Lines; index as idx">
            <td>{{ line.Name }}</td>
            <td>
              <p-button icon="pi pi-minus" severity="secondary" i18n-aria-label aria-label="Decrease Quantity Cart Line"
                (click)="reduceCartLine(idx)"></p-button>
              <p-button [outlined]="true" i18n-aria-label aria-label="Quantity Cart Line" i18n-label
                label="{{ line.Quantity }}"></p-button>
              <p-button icon="pi pi-plus" severity="secondary" i18n-aria-label aria-label="Increase Quantity Cart Line"
                (click)="increaseCartLine(idx)"></p-button>
            </td>
            <td>
              <p-button icon="pi pi-trash" severity="danger" i18n-aria-label aria-label="Remove Cart Line"
                (click)="removeCartLine(idx)"></p-button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <p-button icon="pi pi-shopping-cart" (click)="detailCart()" i18n-label label="Go to Checkout"></p-button>
    </div> <!-- tmf-cart -->
  </ng-container>
</ng-container>

<ng-template #empty_cart>
  <p-button id="tfm-cart-button" [rounded]="true" [text]="true" [raised]="true" i18n-aria-label
    aria-label="Shopping Cart" i18n-pTooltip pTooltip="Shopping Cart" tooltipPosition="bottom"
    icon="pi pi-shopping-cart"></p-button>
</ng-template>