@import "/src//scss/variables.scss";

#tfm-cart {
  // Hidden by default
  display: none;
  
  // Positioning as floating
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 9999;

  padding: 20px;
  border: 1px solid $tfm-color-dark;
  background-color: $tfm-color-light;
}

.tfm-cart-line-quantity {
  color: black !important;
}

#tfm-cart-button {
  margin-right: 10px;
}