<div class="surface-card shadow-2 p-3 border-round">
  <div class="flex justify-content-between mb-3">
    <div>
      <span class="block text-500 font-medium mb-3" i18n>Orders Today</span>
      <div class="text-900 font-bold text-6xl">{{ numOrders }}</div>
    </div>
    <p-button styleClass="bg-green-100" [raised]="true" [text]="true" icon="pi pi-shopping-cart" size="large"
      i18n-pTooltip pTooltip="Print Today's Orders" tooltipPosition="bottom" (click)="generatePdf()"></p-button>
  </div>
</div>