<div class="tfm-main-page">
  <span class="p-input-icon-left w-full mt-5">
    <i class="pi pi-search"></i>
    <input class="w-full" type="text" pInputText i18n-aria-label aria-label="Search Dishes by Name" i18n-placeholder
      placeholder="Search Dishes by Name" [(ngModel)]="searchTerm" (keyup)="onKeyUp($event)" />
  </span>

  <div class="m-auto text-center">
    <h1 *ngIf="searchTerm.length > 0; else nosearch" i18n>Dishes containing "{{ searchTerm }}"</h1>
    <ng-template #nosearch>
      <h1 i18n>All Dishes</h1>
    </ng-template>
  </div>

  <p-dataView #dv [value]="dishes" layout="grid" class="tfm-dish-grid" infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
    [scrollWindow]="false">
    <ng-template let-dish pTemplate="gridItem">
      <dishes-grid-item [dish]="dish" class="col-12 md:col-4"></dishes-grid-item>
    </ng-template>
  </p-dataView>
</div>