<footer>
  <section class="dark">
    <div i18n>For the latest news and updates</div>
    <h2 i18n>Visit us on</h2>
    <div class="social">
      <p-button [rounded]="true" i18n-aria-label aria-label="About this Project" i18n-pTooltip
        pTooltip="About this Project" tooltipPosition="bottom" (click)="about()" icon="pi pi-info-circle">
      </p-button>
      <p-button [rounded]="true" i18n-aria-label aria-label="Follow us in Linkedin" i18n-pTooltip
        pTooltip="Follow us in Linkedin" tooltipPosition="bottom" icon="pi pi-linkedin">
      </p-button>
      <p-button [rounded]="true" i18n-aria-label aria-label="Follow us in Twitter" i18n-pTooltip
        pTooltip="Follow us in Twitter" tooltipPosition="bottom" icon="pi pi-twitter">
      </p-button>
      <p-button [rounded]="true" i18n-aria-label aria-label="Follow us in Facebook" i18n-pTooltip
        pTooltip="Follow us in Facebook" tooltipPosition="bottom" icon="pi pi-facebook">
      </p-button>
    </div>
  </section>
  <section class="light">
    <div i18n>Restauration Service supporting {{companyName}}</div>
    <div class="info">
      <div>
        <p-button [text]="true" i18n-pTooltip pTooltip="About this Project" tooltipPosition="bottom" (click)="about()">
          &copy; 2023-2024<br />Francisco Miguel Biete Ba&ntilde;&oacute;n
        </p-button>
      </div>
      <div>
        <a href="https://www.uoc.edu/es/estudios/masters/master-universitario-desarrollo-sitios-aplicaciones-web"
          target="_blank" rel="noopener noreferrer" i18n-pTooltip pTooltip="Master's Degree Program"
          tooltipPosition="bottom" i18n>
          Master's Degree in Website and Web Application Development
        </a>
      </div>
      <div>
        <a href="http://www.uoc.edu" target="_blank" rel="noopener noreferrer" i18n-pTooltip
          pTooltip="University Official Site" tooltipPosition="bottom">
          Universitat Oberta de Catalunya
        </a>
      </div>
    </div>
  </section>
</footer>