@import "/src/scss/variables.scss";

footer {
  margin-top: 20px;
}
.dark {
  background-color: $tfm-color-dark;
  color: $tfm-color-light;
  text-align: center;
  font-size: larger;
  padding-top: 20px;
  margin-bottom: -20px;
}

.social {
  > .p-element {
    margin-right: 10px;
    background-color: $tfm-color-light;
    border-color: $tfm-color-light;
  }

  > .p-element:last-of-type {
    margin-right: 0;
  }
}

.light {
  background-color: $tfm-color-light;
  padding-top: 30px;
  font-size: smaller;
  text-align: center;
  
  > div > * {
    margin-bottom: 10px;
  }

  > div:nth-child(1) {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
