<div class="tfm-main-page">
  <h1 i18n>User Credentials Modification</h1>
  <form [formGroup]="credentialsForm" class="m-auto">

    <div class="bug_13358_workaround">
      <span class="p-float-label">
        <input id="email" pInputText [formControl]="email" type="email" i18n-placeholder placeholder="user1@tfm.es"
          i18n-aria-label aria-label="email" required maxlength="100">
        <label for="email" i18n>Email</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="email.errors?.['required']">You must enter a value</div>
      <div class="tfm-input-error" i18n *ngIf="email.errors?.['pattern']">The value is not a valid email address</div>
      <div class="tfm-input-error" i18n *ngIf="email.errors?.['maxlength']">The value is too long</div>
    </div>

    <div class="bug_13358_workaround">
      <span class="p-float-label">
        <p-password [formControl]="password" i18n-aria-label aria-label="Password" [toggleMask]="true" required
          maxlength="64" ariaLabelledBy="password"></p-password>
        <label id="password" i18n>Password</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="password.errors?.['required']">You must enter a value</div>
      <div class="tfm-input-error" i18n *ngIf="password.errors?.['maxlength']">The value is too long</div>
    </div>

    <div class="bug_13358_workaround">
      <span class="p-float-label p-input-icon-right">
        <p-password [formControl]="password2" i18n-aria-label aria-label="Confirm Password" [toggleMask]="true"
          [feedback]="false" required maxlength="64" ariaLabelledBy="password2"></p-password>
        <label id="password2" i18n>Confirm Password</label>
      </span>
      <div class="tfm-input-error" i18n *ngIf="password2.errors?.['required']">You must enter a value</div>
      <div class="tfm-input-error" i18n *ngIf="password2.errors?.['maxlength']">The value is too long</div>
      <div class="tfm-input-error" i18n *ngIf="password2.errors?.['matchValidator']">The password values don't match
      </div>
    </div>

  </form>
  <users-form-actions i18n-secondary-label secondary-label="Clear Form" i18n-primary-label
    primary-label="Update Credentials" [primary-disabled]="!credentialsForm.valid"
    [primary-function]="update"></users-form-actions>
</div>