<div class="surface-section h-30rem bg-no-repeat bg-cover bg-center flex align-items-center"
  style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/lost_persons_area.png);">
  <div class="px-2 mx-2 lg:px-3 lg:mx-3">
    <span class="block text-5xl font-bold uppercase text-center mb-4" i18n>404<br />Page not found</span>
    <a class="p-ripple p-element py-2 w-13rem text-center block mb-4 text-xl text-color font-bold border-2 cursor-pointer surface-border-0 border-round bg-white-alpha-30"
      [routerLink]="['']" i18n>Back to Home</a>
  </div>
</div>