<div class="tfm-main-page">
  <h1 i18n>Dishes</h1>

  <p-confirmDialog></p-confirmDialog>

  <p-table #table styleClass="p-datatable-sm p-datatable-striped" [value]="dishes" dataKey="ID"
    [totalRecords]="fakeTotalDishes" [lazy]="true" (onLazyLoad)="loadDishes($event)" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" [loading]="loading" i18n-currentPageReportTemplate
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['Name']">
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button type="button" i18n-label label="Reset Filter" [outlined]="true" size="small" icon="pi pi-filter-slash"
          (click)="resetFilter(table)"></p-button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" class="p-inputtext-sm" (input)="applyFilterGlobal(table, $event, 'contains')"
            i18n-placeholder placeholder="Search Name" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col"></th>
        <th scope="col" i18n>Name</th>
        <th scope="col" i18n>Cost</th>
        <th scope="col" i18n>Categories</th>
        <th scope="col" i18n>Allergens</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dish let-ri="rowIndex" let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" [text]="true" [rounded]="true" size="small" [pRowToggler]="dish"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" i18n-pTooltip
            pTooltip="Show Dish Promotions" tooltipPosition="bottom"></p-button>
        </td>
        <td>{{ dish.Name | titlecase }}</td>
        <td>{{ dish.Cost | currency }}</td>
        <td>
          <span class="mr-2" *ngFor="let category of dish.Categories">
            <p-tag value="{{ category.Name }}"></p-tag>
          </span>
        </td>
        <td>
          <span class="mr-2" *ngFor="let allergen of dish.Allergens">
            <p-tag value="{{ allergen.Name }}" severity="warning"></p-tag>
          </span>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <p-button type="button" icon="pi pi-pencil" (click)="onRowEdit(dish, ri)" [text]="true" size="small"
              i18n-pTooltip pTooltip="Edit Dish" tooltipPosition="bottom"></p-button>
            <p-button type="button" icon="pi pi-trash" (click)="onRowDelete(dish)" [text]="true" size="small"
              styleClass="p-button-danger" i18n-pTooltip pTooltip="Delete Dish" tooltipPosition="bottom"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" size="small" styleClass="p-button-text" i18n-label label="Create Dish"
        i18n-pTooltip pTooltip="Create Dish" tooltipPosition="bottom" (click)="openCreate()"></p-button>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" i18n>There are no dishes yet.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-dish>
      <tr>
        <td colspan="6">
          <div class="p-3">
            <p-table [value]="dish.Promotions" dataKey="ID" editMode="row">
              <ng-template pTemplate="caption">
                <div class="flex flex-row align-items-center">
                  <p-button type="button" icon="pi pi-plus" size="small" styleClass="p-button-text" i18n-label
                    label="Create Promotion" i18n-pTooltip pTooltip="Create Promotion" tooltipPosition="bottom"
                    (click)="openCreatePromotion(dish)"></p-button>
                  <h3 class="ml-5" i18n>Promotions - {{ dish.Name | titlecase }}</h3>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
      <tr>
        <th scope="col" i18n>Start Date</th>
        <th scope="col" i18n>End Date</th>
        <th scope="col" i18n>Cost</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-promotion let-eri="rowIndex" let-editing="editing">
      <tr [pEditableRow]="promotion">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar [(ngModel)]="startTime" [inline]="true"></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{ promotion.StartTime | date:'longDate' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar [(ngModel)]="endTime" [inline]="true"></p-calendar>
            </ng-template>
            <ng-template pTemplate="output">
              {{ promotion.EndTime | date:'longDate' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber [(ngModel)]="promotion.Cost" mode="decimal" [min]="0" [minFractionDigits]="2"
                [maxFractionDigits]="2"></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ promotion.Cost | currency }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <p-button *ngIf="!editing" type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onPromotionRowEditInit(promotion)" [text]="true" size="small" i18n-pTooltip
              pTooltip="Modify Promotion" tooltipPosition="bottom"></p-button>
            <p-button *ngIf="!editing" type="button" icon="pi pi-trash" (click)="onPromotionRowDelete(dish, promotion)"
              [text]="true" size="small" styleClass="p-button-danger" i18n-pTooltip pTooltip="Delete Promotion"
              tooltipPosition="bottom"></p-button>
            <p-button *ngIf="editing" type="button" pSaveEditableRow icon="pi pi-check"
              (click)="onPromotionRowEditSave(dish, promotion)" [text]="true" size="small" class="mr-2" i18n-pTooltip
              pTooltip="Save Promotion" tooltipPosition="bottom"></p-button>
            <p-button *ngIf="editing" type="button" pCancelEditableRow icon="pi pi-times"
              (click)="onPromotionRowEditCancel(dish, promotion, eri)" [text]="true" size="small"
              styleClass="p-button-danger" i18n-pTooltip pTooltip="Cancel Edit Promotion"
              tooltipPosition="bottom"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" i18n>There are no promotions for this dish yet.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>

</div>