<div class="md:flex md:justify-content-center max-w-10rem md:max-w-full ">
  <div class="md:my-2 md:mx-5">
    <div class="text-right">
      <ng-container *ngFor="let allergen of dish.Allergens">
        <p-tag class="ml-1" [value]="allergen.Name" severity="warning"></p-tag>
      </ng-container>
    </div>
    <div>
      <a [routerLink]="['dishes', 'dish', dish.ID]" class="text-white no-underline" i18n-aria-label
        aria-label="Go to Dish details">
        <img src="/assets/dishes/generic.png" i18n-alt alt="Go to details for {{ dish.Name }}"
          class="tfm-dishes-thumbnail-image">
      </a>
    </div>
    <div>
      <h2><a [routerLink]="['dishes', 'dish', dish.ID]" class="text-white no-underline">{{ dish.Name }}</a></h2>
      <h3 class="text-orange-300">{{ dish.Cost | currency }}</h3>
      <div>
        <p-button type="button" [raised]="true" severity="secondary" styleClass="mr-2" icon="pi pi-eye"
          [routerLink]="['dishes', 'dish', dish.ID]"></p-button>
        <p-button type="button" [raised]="true" severity="success" icon="pi pi-cart-plus"
          (click)="addCart()"></p-button>
      </div>
    </div>
  </div>
</div>