<h1 i18n>Shopping Cart Content</h1>
<ng-container *ngIf="cart$ | async as cart; else empty_cart">
  <ng-container *ngIf="cart.Lines.length > 0; else empty_cart">
    <table>
      <caption i18n style="display: none;">Shopping Cart Content</caption>
      <thead>
        <th i18n>Dish</th>
        <th i18n>Quantity</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let line of cart.Lines; index as idx">
          <td>{{ line.Name }}</td>
          <td>
            <p-button icon="pi pi-minus" severity="secondary" i18n-aria-label aria-label="Decrease Quantity Cart Line"
              (click)="reduceCartLine(idx)"></p-button>
            <p-button i18n-aria-label aria-label="Quantity Cart Line" i18n-label label="{{ line.Quantity }}"
              [disabled]="true"></p-button>
            <p-button icon="pi pi-plus" severity="secondary" i18n-aria-label aria-label="Increase Quantity Cart Line"
              (click)="increaseCartLine(idx)"></p-button>
          </td>
          <td>
            <p-button icon="pi pi-trash" severity="danger" i18n-aria-label aria-label="Remove Cart Line"
              (click)="removeCartLine(idx)"></p-button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="tfm-cart-checkout-actions">
      <p-button icon="pi pi-trash" severity="danger" (click)="cleanCart()" i18n-label
        label="Empty Shopping Cart"></p-button>
      <p-button icon="pi pi-shopping-cart" (click)="checkout()" i18n-label label="Proceed to Checkout"></p-button>
    </div>
  </ng-container>
</ng-container>

<ng-template #empty_cart>
  <p i18n>Your shopping cart is empty, why not add some delicious dishes to it?</p>
</ng-template>