.tfm-input-error {
  color: var(--red-800);
  font-size: smaller;
}

.tfm-form-footer {
  margin-top: 20px;
  p-button {
    margin-right: 20px;
  }
}

form > div {
  margin-top: 10px;
}

input {
  min-width: 260px;
}

// Bug workaround (https://github.com/primefaces/primeng/issues/13358)
.p-password {
  width: inherit !important;
}
.p-password-input {
  width: inherit !important;
}
// end bug workaround