// ConfirmDialog service
.p-confirm-dialog-message {
  // Allow new lines
  white-space: pre-line;
  // Align text to left - instead of center
  text-align: left;
}

// Message service
.p-message-detail {
  // extra left margin
  margin-left: 30px;
  // Allow new lines
  white-space: pre-line;
}

// Bug Fixes

// Bug: InputNumber doesn't propagates the classes to the child span
p-inputnumber.w-full {
  span {
    width: 100%;
  }
}