<div class="tfm-dialog-content">
  <div [formGroup]="loginForm">
    <span class="p-float-label">
      <input id="email" type="email" pInputText [formControl]="email" i18n-aria-label aria-label="Email" required
        maxlength="100">
      <label for="email" i18n>Email</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="email.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="email.errors?.['pattern']">The value is not a valid email address</div>
    <div class="tfm-input-error" i18n *ngIf="email.errors?.['maxlength']">The value is too long</div>
  </div>

  <div [formGroup]="loginForm">
    <span class="p-float-label">
      <p-password [formControl]="password" i18n-aria-label aria-label="Password" [toggleMask]="true" [feedback]="false"
        required maxlength="64"></p-password>
      <label for="password" i18n>Password</label>
    </span>
    <div class="tfm-input-error" i18n *ngIf="password.errors?.['required']">You must enter a value</div>
    <div class="tfm-input-error" i18n *ngIf="password.errors?.['maxlength']">The value is too long</div>
  </div>


  <div style="margin: 20px 0">
    <p-button [text]="true" severity="success" icon="pi pi-user-plus" i18n (click)="register()" i18n-label
      label="Register new user"></p-button>
  </div>
</div>

<div class="tfm-dialog-footer">
  <p-button icon="pi pi-times" severity="danger" (click)="close()" i18n-label label="Cancel"></p-button>
  <p-button icon="pi pi-check" [disabled]="!loginForm.valid" (click)="login()" i18n-label label="Login"></p-button>
</div>